body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background: #d2dc9d url("images/blackgoose.png") no-repeat center 100px fixed;
    /*background-image: url(images/bullseye.png);
    background-repeat: space;
    background-position: center 200px;*/
    /*background-image: url(images/blackgoose.png);
    background-repeat: no-repeat;
    background-position: center 1000px;
    background-attachment: fixed;*/
}
header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background: url(images/purpledot.png) repeat-x center top;
    background: url("images/purpledot.png") left top repeat-y,
    url("images/purpledot.png") right top repeat-y,
    url("images/gooseshadow.png") 90% bottom no-repeat;
    background-color: rgba(255,255,255,0.5);
    /*background-image: url(images/purpledot.png);
    background-repeat: repeat-x;
    background-position: center top;*/
}

a {
    text-decoration: none;
    color: purple;
}
a:visited{color:#937393;}
a:hover,focus{color:#c700f2; background: #fff;}
a:active{ background: #fff; color: #f0f;}
h1 {
    color: #939;
    font: bold 1.5em Georgia, serif;
    text-shadow: .1em .1em .2em gray;
}
h2 {
    color: #c60;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
}
dt {
    font-weight: bold;
}
strong {
    font-style: italic;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#info p {
    font-style: italic;
}
.price {
    font-family: Georgia, serif;
    font-style: italic;
}
p.warning, sup {
    font-size: small;
}
.label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
}

h2 + p {
    text-align: center;
    font-style: italic;
}

